global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s

{% if load_balancer_stats_enabled | bool %}
frontend divband_haproxy_stats
    bind {{ load_balancer_stats_bind }}
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
{% endif %}

{% if load_balancer_kubernetes_api_enabled | bool %}
frontend divband_kubernetes_api
    bind {{ load_balancer_bind_address }}:{{ load_balancer_kubernetes_api_bind_port }}
    mode tcp
    default_backend divband_kubernetes_api_backends

backend divband_kubernetes_api_backends
    mode tcp
    balance roundrobin
    option tcp-check
{% for backend in load_balancer_kubernetes_api_backends %}
{% set address = hostvars[backend].ansible_host | default(backend) %}
    server api-{{ loop.index }} {{ address }}:{{ load_balancer_kubernetes_api_target_port }} check
{% endfor %}
{% endif %}

{% if load_balancer_ingress_enabled | bool %}
frontend divband_ingress_http
    bind {{ load_balancer_bind_address }}:{{ load_balancer_http_bind_port }}
    mode tcp
    default_backend divband_ingress_http_backends

backend divband_ingress_http_backends
    mode tcp
    balance {{ load_balancer_ingress_balance_algorithm }}
    option tcp-check
{% for backend in load_balancer_ingress_backends %}
{% if backend is string %}
{% set address = hostvars[backend].ansible_host | default(backend) %}
{% set name = backend %}
{% else %}
{% set address = backend.address %}
{% set name = backend.name | default('ingress-' ~ loop.index) %}
{% endif %}
    server {{ name }} {{ address }}:{{ load_balancer_ingress_http_target_port }} check
{% endfor %}

frontend divband_ingress_https
    bind {{ load_balancer_bind_address }}:{{ load_balancer_https_bind_port }}
    mode tcp
    default_backend divband_ingress_https_backends

backend divband_ingress_https_backends
    mode tcp
    balance {{ load_balancer_ingress_balance_algorithm }}
    option tcp-check
{% for backend in load_balancer_ingress_backends %}
{% if backend is string %}
{% set address = hostvars[backend].ansible_host | default(backend) %}
{% set name = backend %}
{% else %}
{% set address = backend.address %}
{% set name = backend.name | default('ingress-' ~ loop.index) %}
{% endif %}
    server {{ name }} {{ address }}:{{ load_balancer_ingress_https_target_port }} check
{% endfor %}
{% endif %}
