---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cluster_registry_namespace }}
  labels:
    app.kubernetes.io/name: {{ cluster_registry_name }}
    app.kubernetes.io/part-of: divband
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ cluster_registry_name }}-data
  namespace: {{ cluster_registry_namespace }}
  labels:
    app.kubernetes.io/name: {{ cluster_registry_name }}
    app.kubernetes.io/part-of: divband
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ cluster_registry_storage_size }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ cluster_registry_name }}
  namespace: {{ cluster_registry_namespace }}
  labels:
    app.kubernetes.io/name: {{ cluster_registry_name }}
    app.kubernetes.io/part-of: divband
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ cluster_registry_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ cluster_registry_name }}
    spec:
      containers:
        - name: registry
          image: {{ cluster_registry_image }}
          ports:
            - containerPort: 5000
          env:
            - name: REGISTRY_STORAGE_DELETE_ENABLED
              value: "true"
          volumeMounts:
            - name: data
              mountPath: /var/lib/registry
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ cluster_registry_name }}-data
---
apiVersion: v1
kind: Service
metadata:
  name: {{ cluster_registry_name }}
  namespace: {{ cluster_registry_namespace }}
  labels:
    app.kubernetes.io/name: {{ cluster_registry_name }}
    app.kubernetes.io/part-of: divband
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: {{ cluster_registry_name }}
  ports:
    - name: registry
      port: {{ cluster_registry_service_port }}
      targetPort: 5000
      nodePort: {{ cluster_registry_node_port }}
