[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
pipelining = True
transfer_method = scp
scp_extra_args = -O

[privilege_escalation]
become = True
become_method = sudo
