global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend public_http
    bind *:80

{% for project in divband_projects %}
    acl host_{{ project.name }} hdr(host) -i{% for domain in project.domains %} {{ domain }}{% endfor %}
    acl host_{{ project.name }}_port hdr(host) -i{% for domain in project.domains %} {{ domain }}:80{% endfor %}

    use_backend {{ project.name }}_project if host_{{ project.name }} or host_{{ project.name }}_port
{% endfor %}
    default_backend unknown_host

{% if divband_projects | selectattr('tls', 'defined') | selectattr('tls') | list | length > 0 %}
frontend public_https
    bind *:443 ssl crt /etc/haproxy/certs/

{% for project in divband_projects if project.tls | default(false) %}
    acl host_{{ project.name }} hdr(host) -i{% for domain in project.domains %} {{ domain }}{% endfor %}
    use_backend {{ project.name }}_project if host_{{ project.name }}
{% endfor %}
    default_backend unknown_host

{% endif %}
{% for project in divband_projects %}
backend {{ project.name }}_project
    option httpchk GET {{ project.health_check | default('/healthz') }}
    http-check expect status 200
    server {{ project.name }}_web {{ project.name }}-web:{{ project.port | default(80) }} check

{% endfor %}

backend unknown_host
    http-request return status 404 content-type text/plain string "Unknown divband host\n"
